*.pyc
*.swp
.cache
.ipynb_checkpoints
*.bbl
*-blx.bib
*.swp
*.aux
*.log
*.out
*.run.xml
*.blg
*.bcf
*.synctex.gz
*.fls
*.fdb_latexmk
*.swo
*#
*.toc
*.egg-info
.doit*
doc/_build
doc/auto_examples
doc/generated
build
dist
html
doc/functions
.vscode
.coverage*
.noseids
junit-results.xml
TAGS
tags
tests/.coverage*
